<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<!-- Cadena de conexión para PostgreSQL en Render - Control Estudiantes -->
		<add name="ConexionBD"
			connectionString="Host=dpg-d03it5qli9vc73fn4vlg-a.oregon-postgres.render.com;Port=5432;Database=db_nomina;Username=admin;Password=oXx3aNy5pta9p874nadmAvT2VUDZ75fU;SSL Mode=Require;Trust Server Certificate=true;"
			providerName="Npgsql" />
	</connectionStrings>
	<appSettings>
		<!-- Configuración del sueldo mínimo -->
		<add key="SueldoMinimo" value="8364" />
	</appSettings>
</configuration>